version: "3.7"

services:
  my-backend:
    build:
      context: .
      dockerfile: Dockerfile
    # volumes:
    #   - ./src:/myfolder/src
    ports:
      - 3001:3001
    env_file:
      - ./.env.docker

  my-database:
    image: mysql
    environment:
      MYSQL_DATABASE: "mydocker"
      MYSQL_ROOT_PASSWORD: "june1508!!"
    ports:
      - 3306:3306

  my-redis:
    image: redis:latest
    ports:
      - 6379:6379
